PORT=3000
JWT_SECRET=change-me

DB_HOST=localhost
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=
DB_NAME=lib3d

MODELS_ROOT=/var/www/html/catalog/models

MOD_USERNAME=moderate
MOD_PASSWORD=moderate
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
